.post-list-item {
  position: relative;
  h1 a {
    display: block;
    color: inherit;
    transition: color 0.6s ease-in-out;

    &:hover {
      color: $color-primary;
    }
  }
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 27.5%;
    width: 45%;
    height: 1px;
    background-color: lighten($color-primary, 30%);
  }

  &:last-of-type {
    &:after {
      display: none;
    }
  }
}
